.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-content{
   display: flex;
}
.header-title{
   padding-left: 25px;
}
.header-link{
   text-decoration: none;
   color: black;
}
.container{
   padding-right: 100px;
   padding-left: 100px;
}
.main{
   height: 500px;
   background-image: url(./tea-imgs/Background.jpg);
}
.main-content{
   font-size: 60px;
   padding-top: 254px;
   color: aliceblue;
}
.main-title{
  font-size: 24px;
  padding-top: 50px;
  color: aliceblue;
}
.content{
   padding-top: 150px;
   padding-bottom: 150px;
   text-align: center;
   font-size: 40px;
}
.types{
   text-align: center;
   margin-bottom: 150px;
}
.types-content{
   display: flex;
   justify-content: center;
}
.author-main{
   display: flex;
   font-size: 40px;
   padding-bottom: 60px;
   justify-content: center;
}
.author{
   text-align: center;
   padding-top: 60px;
   padding-bottom: 60px;
   background-color: #F7F2EA;
   margin-bottom: 150px;
}
.author-content{
   display: flex;
   text-align: left;
}
.title{
   font-size: 40px;
   margin-bottom: 20px;
   text-align: center;
}
.author-title{
   padding-left: 13px;
   padding-right: 13px;
}
.author-name{
   margin-top: 10px;
   font-size: 20px;
   text-align: left;   
   display: block;
}
.blog-title{
   display: flex;
   padding-top: 40px;
}
a{
   text-decoration: none;
}
.blog-content{
   display: flex;
   justify-content: space-between;  
}
.view{
   padding: 18px 25px;
   border: 1px solid black;
   display: flex;
   justify-content: center;  
}
.border{
   padding-top: 60px; 
   height: 51px; 
   display: flex;
   justify-content: center;
}
.know-more {
   height: 418px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: #F7F2EA;
   margin-top: 150px;
}
.left{
   display: flex;
   justify-content: center;
}
.know-more-content-left {
   width: 50%;
   display: flex;
   text-align: center;
}
.hide{
   padding-bottom: 65px;
   display: flex;
   text-align: center;
   color: #F7F2EA;
}
.join-us {
   display: flex;
}
form input[type="email"] {
   width: 60%;
   background-color: transparent;
   padding: 10px;
   border: none;
   border-bottom: 2px solid #000;
}
form input::placeholder {
   color: gray;
}
form input:focus {
   outline: none;
}
form a {
   color: #000;
   background-color: #fff;
   border: 1px solid #000;
   padding: 10px 25px;
}
.check-subscribing{
   display: flex;
   justify-content: space-between;
}
.more-header{
   font-size: 40px;
   display: inline;
   text-align: center;
}
.know-more-header{
   text-align: center;
   padding-bottom: 50px;
}
.prior{
   font-size: 40px;
   margin-bottom: 60px;
   text-align: center;
   margin-top: 150px;
}
.prioritise-header {
   display: flex;
  
   justify-content: center;
}
.prioritise-header h1 {
   margin: 10px 0px;
   font-size: 35px;
}
.priortise-functionality {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.priortise-heading{
   display: flex;
   justify-content: center;  
   font-size: 30px;
}
.description{
   margin: 10px 0px;
   font-size: 20px;
   display: flex;
   justify-content: center;
   padding-top: 10px;
}
.priortise-img{
   display: flex;
   justify-content: center;
   padding-top: 40px;
}
.footer{
   height: 593px;
   background-color: #F7F2EA;
   margin-top: 150px;
   display: flex;
   justify-content: space-around;
}
.footer-content-third{
   width: 25%;
}
.footer-title{
   padding-top: 100px;
   font-size: 24px;
   padding-bottom: 30px;
}
.footer-link{
   color: black;
   display: flex;
   padding-top: 20px;
}
.footer-link{
   text-decoration: none;
   padding-top: 20px;
}
.footer-content-fourht{
   width: 25%;
}